:root {
  /* --text: #060a01;
  --background: #ffffff;
  --primary: #510bcb;
  --secondary: #f5cafc;
  --accent: #0c2aed; */

  --text: #020217;
  --background: #fafad6;
  --primary: #541098;
  --secondary: #bebef8;
  --accent: #7619d3;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* header */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: var(--secondary);
  z-index: 2;
}

.header--head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header--title {
  font-size: 1.6rem;
}

.header--nav {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
}

.cart {
  cursor: pointer;
}

/* home */

.home--container,
.products--container,
.product--container,
.error--container {
  width: 90%;
  margin: 70px auto;
  padding: 5px 0;
  min-height: 70vh;
}

.home--category {
  font-size: 1.6rem;
}

.category--card__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px 0px;
}

.category--card {
  width: 22%;
  aspect-ratio: 3/2;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px grey;
  position: relative;
  cursor: pointer;
  transition: 0.1s;
}

.category--card:hover {
  box-shadow: 0px 0px 4px 1px var(--accent);
  transform: scale(1.05);
  transition: 0.2s;
}

.category--card__content {
  position: absolute;
  bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* products */

.products--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product--card {
  width: 250px;
  height: 350px;
  margin: 20px 5px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  transition: 0.1s;
}

.product--card:hover {
  cursor: pointer;
  border: 1px solid var(--accent);
  box-shadow: 0px 0px 1px 0px var(--accent);
  transition: 0.2s;
}

.product--img__card {
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.product--head {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

.product--title__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-weight: 550;
}

.product--rating__card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  height: fit-content;
  width: fit-content;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  transform: translate(5px, 220px);
}

.product--star__card {
  height: 0.9rem;
  margin: 0 5px;
}

.product--rate,
.product--ratingCount__card {
  font-size: 0.8rem;
  font-weight: 550;
}

.product--ratingCount__card::before {
  content: "|";
  margin-right: 5px;
  font-weight: 550;
}

.product--price__card {
  margin: 5px 0;
}

/* individual product */

.product--container {
  display: flex;
  margin: 100px auto;
}

.product--img {
  float: left;
  width: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px auto;
}

.product--body {
  float: right;
  width: 70%;
  margin-right: 0;
  padding: 30px 15px;
}

.product--title {
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  font-weight: 550;
}

.product--rating {
  display: flex;
  width: fit-content;
  align-items: center;
}

.product--rating > * {
  font-size: 1rem;
}

.product--rate,
.product--rating__count {
  border: 1px solid var(--accent);
  padding: 2px 8px;
  border-radius: 5px;
  margin: 10px 0;
}

.product--star {
  height: 1.2rem;
  margin: 0 5px;
}

.product--desc {
  font-size: 1.2rem;
  margin: 20px 0 10px 0;
  letter-spacing: 0.6px;
}

.product--price {
  font-size: 1.6rem;
  margin: 10px 0;
  font-weight: 550;
}

/* footer */

footer {
  height: fit-content;
  display: flex;
  align-items: center;
  height: 25vh;
  background-color: rgb(245, 245, 245);
}

.footer--left {
  float: left;
  width: 25%;
  height: 50%;
  display: flex;
  margin: auto 0;
  padding: 0 15px;
}

.footer--right {
  float: right;
  width: 75%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  font-size: 0.8rem;
}

.socials--container {
  display: flex;
  flex-direction: column;
}

.footer--categories__container {
  display: flex;
  flex-direction: column;
}

.footer--title {
  font-weight: 700;
  font-size: 0.9rem;
}

.footer--category {
  margin-top: 15px;
  cursor: pointer;
}

.footer--help__container {
  display: flex;
  flex-direction: column;
}

.footer--help {
  margin-top: 15px;
  cursor: pointer;
}

.footer--product__help {
  display: flex;
  flex-direction: column;
}
